body{
margin: 0;
padding: 0;
width: 100%;
}
h1 {
font-family: 'Montserrat', sans-serif;
font-weight:normal;
font-size: 55px;
text-align: center;
color: #fff;
margin: 0;
padding: 0;
}
h2 {
font-family: 'Montserrat', sans-serif;
font-weight: normal;
font-size: 40px;
text-align: center;
color: #fff;
text-shadow: 2px 2px 4px rgba(0,0,0,.5);
margin: 0;
padding: 0;
}
h3 {
font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: 16px;
text-align: center;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }

#header {
z-index:100;
width: 100%;
/*background: url('../img/header-bg.png');*/
background-color:rgba(255,255,255,.9);
box-shadow: 0px 3px 5px rgba(50, 50, 50, .3);
height: 95px;
position: fixed;
/*margin-top: 30px;*/

/* adjusting header size transition */
-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#header.smaller{
height:75px;
}

#header.smaller #logo{
background-size:195px 65px;
}

#header.smaller #nav{
margin-top:20px;
}

#nav { width: 500px; float: right; margin-top: 30px;}
#logo {  cursor:pointer; background: url('../img/ERS-Logo.svg')no-repeat; background-size:243px 81px; width: 243px; height: 81px; color: #fff; text-decoration: none; float: left; font-size: 30px; margin-top: 6px; color: #fff; font-family: 'Roboto', sans-serif; font-weight: bold; }
#nav ul{
list-style: none;
display: block;
margin: 0 auto;
list-style: none;
}
#nav li{
margin-top: 9px;
float: left;
padding-left: 21px;
}
#nav li a { color: #003d79; opacity:0.6; font-size: 16px; text-decoration: none; font-family: 'Roboto', sans-serif; font-weight:700;}
#nav li a.active { color: #003d79; opacity:1; }
#nav li a:hover { color: #003d79; opacity:1; }
#nav .dropdown-content a {font-size:14px; font-weight:400;}

.textblock {
/*font-family: 'Montserrat', sans-serif;*/
font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: 30px;
text-align: left;
margin: 30px auto;
}

.text_color { font-family: 'Roboto', sans-serif; font-weight:400; margin: 70px 0 0 10px; color: #003d79; font-size: 20px; } 
.text_container { width: 800px; margin: 0 auto; z-index:-1;}

#slide1, #slide2{ width: 100%; }
#slide1{

background:
linear-gradient(
      rgba(0, 61, 121, .7), 
      rgba(0, 61, 121, .7)
    ),
url('../img/building.png') 50% 0 no-repeat fixed;
color: #fff;
height: 400px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}
#slide2{
background-color: black;
color: white;
height: 250px;
margin: 0 auto;
overflow: hidden;
padding: 250px 0;
}

#slide3{
background: 
linear-gradient(
      rgba(0, 61, 121, .4), 
      rgba(0, 61, 121, .4)
    ),
url(../img/GIAR4Poster.png) 50% 0 no-repeat fixed;
background-color: white;
color: #fff;
height: 600px;
padding: 170px 0 0 0;
background-size: cover;
}
#slide4{
background-color: #e6e6e6;
color: #003d79;
height: 250px;
padding: 250px 0;
}
#slide5{
background: 
linear-gradient(
      rgba(0, 61, 121, .4), 
      rgba(0, 61, 121, .4)
    ),
url(../img/galleria.png) 50% 0 no-repeat fixed;
background-color: white;
height: 230px;
margin: 0 auto;
padding: 230px 0;
color: #fff;
background-size: cover;
}

#copyright { color: #fff; font-family: 'Roboto', sans-serif; font-size: 14px; margin-top: 100px; text-align: center; }
#copyright a { text-decoration: none; color: #fff; }

/*hover dropdown styling*/
 /* Dropdown Button */
#dropbtn {
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 195px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #003d79;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /*font-family: 'Roboto', sans-serif;*/
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover #dropbtn {
   color:black;
}

/*image grow css*/

.pic {
  height: 240px;
  width: 320px;
  overflow: hidden;
  float:left;
  
   /*border: 10px solid #fff;  
  float: left;*/
   /*margin: 20px;*/
  /*-webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  */
}

.image1 img{
width:320px;
height:240px;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}

.image1 img:hover{
width:384px;
height:288px;
}

#bubbleicon img{
margin-top:100px;
float:left;
width:100px;
height:100px;
}

#bubbleicon img:hover{
opacity:.7;
width:105px;
height:105px;
}

#downArrow img{
float:left;
width:80px;
height:80px;
}

#downArrow{
opacity:.3;
cursor:pointer;
}

#downArrow:hover{
opacity:1;
}

#buttonStyle {
	float:left;
	width:150px;
	height:30px;
    background-color: rgba(255,255,255,0);
    color: white;
    border: 3px solid white;
    text-align:center;
    margin-top:50px;
}
#buttonStyle a{
	text-decoration:none;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-weight:normal;
	font-size: 25px;
	padding:10px;
}
#buttonStyle:hover{
background-color: rgba(255,255,255,.1);
box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
}
