body{
margin: 0;
padding: 0;
width: 320px;
height:568px;
}
footer{
background-color:rgb(0,61,121);
height:50px;
width:100%
position:fixed;
bottom:0px;
left:0px;
}
h1 {
font-family: 'Montserrat', sans-serif;
font-weight:normal;
font-size: 55px;
text-align: center;
color: #fff;
margin: 0;
padding: 0;
}
h2 {
font-family: 'Montserrat', sans-serif;
font-weight: normal;
font-size: 40px;
text-align: center;
color: #fff;
text-shadow: 2px 2px 4px rgba(0,0,0,.5);
margin: 0;
padding: 0;
}
h3 {
font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: 20px;
text-align: center;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 320px; }
.clear { clear: both; }

#header {
z-index:100;
width: 320px;
/*background: url('../img/header-bg.png');*/
background-color:rgba(255,255,255,.9);
box-shadow: 0px 3px 5px rgba(50, 50, 50, .3);
height: 95px;
position: fixed;
}

#nav { width: 500px; float: right; margin-top: 30px;}
#logo {  cursor:pointer; background: url('../img/ERS-Logo.svg')no-repeat; background-size:243px 81px; width: 243px; height: 81px; text-decoration: none; font-size: 30px; margin-top: 6px; float:left; color: #fff; font-family: 'Roboto', sans-serif; font-weight: bold; }
#hamburger {  cursor:pointer; background: url('../img/hamburger.png')no-repeat; background-size:65px 65px; width: 65px; height: 65px; float:right; margin-top: -65px; margin-right:20px;}

.textblock {
/*font-family: 'Montserrat', sans-serif;*/
font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: 30px;
text-align: left;
margin: 30px auto;
}

.text_color { font-family: 'Roboto', sans-serif; font-weight:400; margin: 70px 0 0 10px; color: #003d79; font-size: 20px; } 
.text_container { font-family: 'Roboto', sans-serif; font-weight:400; width: 260px; margin: 0 auto; z-index:-1; font-size:15px;}

#slide1{ width: 100%; }
#slide1{

background:
linear-gradient(
      rgba(0, 61, 121, .5), 
      rgba(0, 61, 121, .9)
    );
color: #fff;
height: 568px;
margin: 0;
padding: 185px 0 0 0;
background-size: cover;
}

#copyright { color: #fff; font-family: 'Roboto', sans-serif; font-size: 14px; margin-top: 100px; text-align: center; }
#copyright a { text-decoration: none; color: #fff; }


.flexslider .slides img {
  width:256px;
  height:168px;
  display: block;
}
